.container{
    max-width: width 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    padding: 0 1em;
}


.header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    flex-wrap: wrap;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

strong{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.angelafoto{
    height: 300px;
    background-color: rgb(114, 106, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portafolio{
    background-color: white;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap ;
    font-size: 1.5rem;
}
